services:
  postgres:
    image: postgres:18.1
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: testdb
    ports:
      - "54329:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U test -d testdb" ]
      interval: 1s
      timeout: 2s
      retries: 30

  migrate:
    image: migrate/migrate:4
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./migrations:/migrations
    command: [
      "-path", "/migrations",
      "-database", "postgres://test:test@postgres:5432/testdb?sslmode=disable",
      "up"
    ]
    restart: "no"